<p-table [value]="users" dataKey="ID" [expandedRowKeys]="expandedRows"

  (onRowExpand)="onRowExpand($event)"
  (onRowCollapse)="onRowCollapse($event)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>

      <th *ngFor="let col of columns">{{ col.header }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-user let-expanded="expanded">
    <tr>
      <td>
        <p-button
          type="button"
          pRipple
          (click)="toggleRowExpansion(user)"
          [text]="true"
          [rounded]="true"
          [plain]="true"
          class="p-button-text"
          [icon]="
            expandedRows[user.ID] ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
          "
        />
      </td>

      <td *ngFor="let col of columns">{{ user[col.field] }}</td>
    </tr>
  </ng-template>

    <ng-template pTemplate="rowexpansion" #expandedrow let-user>
    <p-tabView>
      <p-tabPanel
         *ngFor="let tab of tabsPerRow[user.ID]"
        [header]="tab.data.tabTitle"
      >
        <ng-container *ngComponentOutlet="tab.component; injector: createInjector(user)">
        </ng-container>

      </p-tabPanel>
    </p-tabView>
  </ng-template>
</p-table>
